[Unit]
Description="Overrides mgmt driver for mlx6 cards to use mlx5_core driver."
Before=network.target
Wants=local-fs.target

[Service]
Type=simple
ExecStart="/shared/mgmt_driver_override.sh"
StandardOutput=journal

[Install]
WantedBy=multi-user.target